.section_1 {
  gap: 40px;
}
.section_5_wrapper {
  display: none;
}
.item_card {
  margin-top: 10px;
}
.section_6 {
  display: block;
  flex-wrap: wrap;
}
.section_6_header h2 {
  font-size: 38px;
  width: 100%;
}
