@media (max-width: 576px) {
  .content {
    header {
      nav {
        .nav_top {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .burger {
            background-color: #fff;
            span {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 3px;
              width: 40px;
              border-radius: 2px;
              background: #050038;
              margin-top: 5px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        .nav_block_1 {
          display: none;
        }
        .nav_block_2 {
          display: none;
        }
      }
    }
    .section_1 {
      .section_1_block {
        h1 {
          text-align: center;
        }
      }
    }
  }
}
