@media (max-width: 768px) {
  .content {
    header {
      max-width: 768px;
      padding: 0 20px;
      nav {
        .nav_block_2 {
          gap: 20px;
          a {
            font-size: 16px;
            img {
              display: none;
            }
          }
          button {
            margin-left: 0px;
            width: 121px;
            height: 37px;
            font-size: 12px;
          }
        }
      }
    }
    main {
      .section_1 {
        .section_1_block {
          display: flex;
          flex-direction: column;
          align-items: center;
          .section_1_p {
            text-align: center;
          }
        }
        img {
          display: none;
        }
      }
      .section_4 {
        h2 {
          text-align: center;
        }
        .section_4_ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 12px;
          max-width: 100%;
        }
      }
      .section_5 {
        .section_5_ul1 {
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
          max-width: 100%;
        }
      }
      .section_7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section_7_header {
          h2 {
            font-size: 36px;
            text-align: center;
          }
        }
      }
      .section_8 {
        .section_8_h2 {
          font-size: 42px;
        }
      }
    }
    footer {
      .footer_container {
        .footer_product {
          a {
            line-height: 20px;
          }
        }
      }
    }
  }
}
