@media (max-width: 768px) {
  header {
    max-width: 768px;
    padding: 0 20px;
  }
  // .nav_block_2 {
  //   display: none;
  //   button {
  //     display: none;
  //   }
  // }
  .section_1 {
    img {
      display: none;
    }
  }
  .section_1_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .section_4 {
    h2 {
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      max-width: 100%;
    }
  }
  .section_5 {
    ul {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      max-width: 100%;
    }
  }
  .section_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_7_header {
    h2 {
      font-size: 36px;
      text-align: center;
    }
  }
  .section_8 {
    h2 {
      font-size: 42px;
    }
  }
  .footer_product {
    a {
      line-height: 20px;
    }
  }
}
