@media (max-width: 768px) {
  .content {
    header {
      max-width: 768px;
      padding: 0 20px;
      nav {
        .nav_block_2 {
          gap: 20px;
          a {
            font-size: 16px;
            img {
              display: none;
            }
          }
          button {
            margin-left: 0px;
            width: 121px;
            height: 37px;
            font-size: 12px;
          }
        }
      }
    }
    main {
    }
  }
}
