@media (max-width: 992px) {
  .content {
    header {
      height: 60px;
      nav {
        .nav_block_1 {
          ul {
            li {
              margin-left: 24px;
            }
          }
        }
        .nav_block_2 {
          a {
            font-size: 14px;
          }
          button {
            margin-left: 40px;
            width: 135px;
            height: 45px;
            font-size: 16px;
          }
        }
      }
    }
    // Секция 1
    .section_1 {
      display: flex;
      .section_1_block {
        h1 {
          font-size: 32px;
          font-weight: 500;
        }
        p {
          font-size: 16px;
        }
        form {
          margin-top: 30px;
          width: 436px;
        }
        .section_1_container {
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(4, 1fr);
          margin-top: 20px;
          p {
            grid-column: 1 / 5;
          }
        }
      }
      img {
        width: 436px;
        max-width: 100%;
        height: auto;
      }
    }
    // Секция 2
    .section_2 {
      .section_2_block {
        h2 {
          font-size: 32px;
        }
        .section_2_p {
          font-size: 16px;
        }
      }
      img {
      }
    }
  }
}
