@media (max-width: 992px) {
  .content {
    header {
      max-width: 992px;
      padding: 0 20px;
      nav {
        .nav_block_1 {
          ul {
            li {
              margin-left: 24px;
            }
          }
        }
        .nav_block_2 {
          a {
            font-size: 14px;
          }
          button {
            margin-left: 40px;
            width: 135px;
            height: 45px;
            font-size: 16px;
          }
        }
      }
    }
    main {
      // Секция 1
      .section_1 {
        display: flex;
        .section_1_block {
          h1 {
            font-size: 32px;
            font-weight: 500;
          }
          p {
            font-size: 16px;
          }
          form {
            margin-top: 30px;
            width: 436px;
          }
          .section_1_container {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            margin-top: 20px;
            p {
              grid-column: 1 / 5;
            }
          }
        }
        img {
          width: 436px;
          max-width: 100%;
        }
      }
      // Секция 2
      .section_2 {
        .section_2_block {
          h2 {
            font-size: 32px;
          }
          .section_2_p {
            font-size: 16px;
          }
        }
      }
      .section_3 {
        .section_3_block {
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .section_4 {
        h2 {
          font-size: 32px;
        }
        ul {
          li {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
            a {
              font-size: 14px;
              text-align: center;
            }
          }
        }
      }
      .section_5 {
        ul {
          li {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
            a {
              font-size: 14px;
              text-align: center;
            }
          }
        }
        .section_5_block {
          .section_5_item {
            .section_5_ul2 {
              .section_5_li2 {
                font-size: 16px;
                margin-bottom: 0px;
              }
            }
            .section_5_p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
