// Универсальный селектор
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code", "Roboto", "Fira Code";
  border: none;
  outline: none;
}
//Элементы
a {
  color: #4262ff;
  &:hover {
    color: #050038;
  }
}
// Навигация
header {
  nav {
    ul {
      li {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #696688;
          text-decoration: none;
        }
      }
    }
  }
}
// Главное
main {
  section {
    h1,
    h2 {
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: #050038;
    }
    form {
      input {
        border: 1px solid #ccc;
        transition: border-color 0.3s ease;
        &:invalid {
          border-color: #ff0000;
        }
      }
      button {
        background-color: #4262ff;
        color: #fff;
        &:hover {
          background-color: #3753df;
        }
        &:active {
          background-color: #2e45b8;
        }
      }
    }
    .sectionOneForm + p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #050038;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }
    .sectionThreeP {
      color: #696688;
    }
    .sectionSevenContainer {
      .sectionSevenImg {
        width: 48px;
        height: 48px;
      }
    }
    ul {
      .sectionFiveLi {
        &::before {
          content: url("../images/Frame.png");
        }
      }
    }
  }
}
// Шестая секция
.sectionSix {
  background-color: #ffd02f;
}
// Восьмая секция
.sectionEight {
  background-color: #050038;
  color: #fff;
  .sectionEightContainer {
    h2 {
      color: #fff;
    }
  }
}
// Подвал
footer {
  background-color: #050038;
  color: #fff;
}
