// Универсальный селектор
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code", "Roboto", "Fira Code";
  border: none;
  outline: none;
}
// Навигация
header {
  nav {
    ul {
      li {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #696688;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
// Главное
main {
  a {
    color: #4262ff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  section {
    h1,
    h2 {
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: #050038;
    }
    form {
      input {
        border: 1px solid #ccc;
        transition: border-color 0.3s ease;
        &:invalid {
          border-color: #ff0000;
        }
      }
      button {
        background-color: #4262ff;
        color: #fff;
        &:hover {
          background-color: #3753df;
        }
        &:active {
          background-color: #2e45b8;
        }
      }
    }
    .section-one-form + p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #050038;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }
    .section-three-p {
      color: #696688;
    }
    .section-seven-container {
      .section-seven-img {
        width: 48px;
        height: 48px;
      }
    }
    ul {
      li {
        a {
          &::marker {
            content: url("../images/Frame.png");
          }
        }
      }
    }
  }
}
// Шестая секция
.section-six {
  background-color: #ffd02f;
}
// Восьмая секция
.section-eight {
  background-color: #050038;
  color: #fff;
  .section-eight-container {
    h2 {
      color: #fff;
    }
  }
}
// Подвал
footer {
  background-color: #050038;
  color: #fff;
}
