* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono";
}
// Контент
.content {
  max-width: 1200px;
  margin: 0 auto;
}
button {
  background-color: var(--button-color);
  transition: 0.5s;
  font-size: 16px;
  border: none;
  color: #fff;
  &:hover {
    background-color: var(--button-hover-color);
  }
}
// Навигация
header {
  height: 90px;
  padding: 0 20px;
  align-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav_top {
  display: flex;
  align-items: center;
  .logo {
    display: flex;
  }
}
.nav_block_1 {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    li {
      margin-left: 34px;
      &:first-child {
        margin-left: 24px;
      }
      a {
        display: flex;
        font-size: clamp(14px, 1.6vw, 16px);
        color: #696688;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.nav_block_2 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 10px;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
    img {
      margin-right: 10px;
    }
  }
  button {
    width: 157px;
    height: 50px;
    border-radius: 24px;
  }
}
// Главное
section {
  display: flex;
  // justify-content: space-between;
  gap: 40px;
  padding: 80px 40px;
  a {
    color: var(--button-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1,
  h2 {
    font-size: 48px;
    font-weight: 400;
    color: #050038;
  }
  p {
    font-size: 18px;
    color: #696688;
  }
  // Форма в главном
  form {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    input {
      border: none;
      outline: none;
      text-align: center;
      font-size: 18px;
      color: #050038;
      padding: 0 20px;
      border-radius: 32px;
      height: 48px;
      border: 1px solid #ccc;
      transition: border-color 0.3s ease;
      &:invalid {
        border-color: #ff0000;
      }
    }
    button {
      margin-top: 10px;
      border-radius: 32px;
      height: 48px;
    }
  }
  img {
    object-fit: contain;
  }
}
// 1 секция
.section_1_block {
  width: 100%;
}
.section_1_p {
  margin-top: 19px;
}
.section_1_p_1 {
  font-size: 14px;
  margin-top: 20px;
}
.section_1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  .section_1_container_p {
    color: #5f5f5f;
    data {
      color: #5f5f5f;
    }
  }
  a {
    img {
      width: auto;
      height: auto;
    }
  }
}
img {
  object-fit: contain;
  width: 50%;
  height: auto;
  max-width: 100%;
  display: block;
}
// 2 секция
.section_2 {
  .section_2_block {
    width: 100%;
    align-self: center;
    .section_2_p {
      margin: 19px 0 39px 0;
    }
  }
  img {
    width: 50%;
    height: auto;
    max-width: 100%;
    display: block;
  }
}
// 3 секция
.section_3 {
  align-items: center;
  img {
    width: 50%;
    height: auto;
    max-width: 100%;
    display: block;
  }
  .section_3_block {
    width: 440px;
    .section_3_p {
      margin: 19px 0 39px 0;
    }
  }
}
// 4 секция
.section_4 {
  display: flex;
  flex-direction: column;
  .section_4_ul {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    li {
      list-style: none;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .section_4_a {
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 24px;
        padding: 0 18px;
        height: 48px;
        color: #050038;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: #f2f2f2;
          text-decoration: none;
        }
      }
    }
  }
  .section_4_block {
    display: flex;
    margin-top: 40px;
    .section_4_item {
      display: flex;
      flex-direction: column;
      padding: 20px;
      h3 {
        font-size: 42px;
        font-weight: normal;
        color: #050038;
      }
      p {
        margin: 25px 0 32px 0;
        font-size: 16px;
      }
    }
    img {
      width: 50%;
      height: auto;
      max-width: 100%;
      display: flex;
    }
  }
}
// 5 секция
.section_5 {
  display: flex;
  flex-direction: column;
  .section_5_ul1 {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    .section_5_li1 {
      list-style: none;
      .section_5_a {
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 24px;
        padding: 0 18px;
        height: 48px;
        margin-left: 8px;
        color: #050038;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: #f2f2f2;
          text-decoration: none;
        }
      }
    }
  }
  .section_5_block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .section_5_item {
      .section_5_wrapper {
        display: flex;
        img {
          width: auto;
          height: auto;
        }
      }
      .section_5_ul2 {
        margin-top: 30px;
        .section_5_li2 {
          display: flex;
          margin-bottom: 18px;
          font-size: 16px;
          color: #05003899;
          &:last-child {
            margin-bottom: 32px;
          }
          &::before {
            margin-right: 14px;
            content: url("../images/Frame.png");
          }
        }
      }
      .section_5_p {
        margin: 70px 0 13px;
        color: #05003899;
      }
      .section_5_a1 {
        margin-left: 10px;
        text-decoration: none;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    img {
      width: 50%;
      height: auto;
      max-width: 100%;
      display: flex;
    }
  }
}
// 6 секция
.section_6 {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  row-gap: 100px;
  column-gap: 40px;
  padding: 100px 40px;
  background: #ffd02f;
  .section_6_header {
    grid-column: 1 / 4;
    h2 {
      font-size: 48px;
      width: 550px;
    }
    a {
      display: block;
      margin-top: 20px;
      color: #050038;
    }
  }
  .section_6_item {
    img {
      margin-bottom: 25px;
    }
    p {
      color: #050038;
    }
  }
}
// 7 Секция
.section_7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 90px 50px;
  .section_7_header {
    display: flex;
    grid-column: 1 / 4;
    align-items: center;
    flex-direction: column;
    a {
      width: 264px;
      height: 46px;
      text-align: center;
      align-content: center;
      margin-top: 70px;
      border: 1px solid;
      border-radius: 24px;
      font-size: 18px;
      &:hover {
        background-color: var(--button-hover-color);
        color: white;
        text-decoration: none;
      }
    }
  }
  .section_7_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    p {
      font-size: 18px;
      color: #05003899;
    }
    .section_7_container_header {
      p {
        margin-top: 23px;
      }
    }
    .section_7_users {
      display: flex;
      align-items: center;
      margin-top: 40px;
      p {
        margin-left: 20px;
        font-size: 14px;
        span {
          color: #5f5f5f;
          text-decoration: underline;
        }
      }
    }
  }
}
// 8 секция
.section_8 {
  display: flex;
  justify-content: center;
  background-color: #050038;
  margin: 120px 40px;
  border-radius: 16px;
  .section_8_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    .section_8_h2 {
      text-align: center;
      color: #fff;
      letter-spacing: -1px;
    }
    p {
      margin-top: 20px;
      text-align: center;
      letter-spacing: 1px;
    }
    a {
      text-decoration: none;
      margin-top: 40px;
      color: #696688;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
        color: #ccc;
      }
    }
    button {
      width: 250px;
      height: 48px;
      border-radius: 32px;
      margin-top: 20px;
    }
  }
}
// Подвал
footer {
  padding: 40px 40px 20px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  background-color: #050038;
  .footer_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 80px;
    .footer_product {
      display: flex;
      flex-direction: column;
      h4 {
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 40px;
        color: #fff;
      }
      a {
        font-size: 16px;
        line-height: 24px;
        color: #696688;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background: #696688;
  }
  .footer_socials_policy {
    display: flex;
    margin-top: 40px;
    a {
      margin-left: 15px;
      color: #696688;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: #ccc;
      }
    }
    .copyright {
      margin-left: 40px;
      color: #fff;
    }
  }
  .footer_downloads {
    margin-top: 20px;
    a {
      text-decoration: none;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@import "./adaptive-576";
@import "./adaptive-768";
@import "./adaptive-992";
