* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code", "Roboto", "Fira Code";
  border: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #fff;
}
body .content {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.15), -10px 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
body .content button {
  background-color: #4262ff;
  color: #fff;
  font-size: 16px;
}
body .content button:hover {
  background-color: #3753df;
}
body .content button:active {
  background-color: #2e45b8;
}
body .content header {
  border-bottom: 1px solid #e0e0e0;
  height: 90px;
  padding: 0 20px;
}
body .content header nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
}
body .content header nav .nav_block_1 {
  display: flex;
  align-items: center;
}
body .content header nav .nav_block_1 ul {
  display: flex;
}
body .content header nav .nav_block_1 ul li {
  margin-left: 34px;
}
body .content header nav .nav_block_1 ul li:first-child {
  margin-left: 24px;
}
body .content header nav .nav_block_1 ul li a {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696688;
  text-decoration: none;
}
body .content header nav .nav_block_1 ul li a:hover {
  text-decoration: underline;
}
body .content header nav .nav_block_2 {
  display: flex;
  align-items: center;
}
body .content header nav .nav_block_2 button {
  width: 157px;
  height: 50px;
  margin-left: 88px;
  border-radius: 24px;
}
body .content main section {
  padding: 0 40px;
}
body .content main section a {
  color: #4262ff;
  text-decoration: none;
}
body .content main section a:hover {
  text-decoration: underline;
}
body .content main section h1,
body .content main section h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #050038;
}
body .content main section form {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
body .content main section form input {
  font-size: 24px;
  font-weight: 100;
  color: #5f5f5f;
  padding: 0 20px;
  border-radius: 32px;
  width: 440px;
  height: 48px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
body .content main section form input:invalid {
  border-color: #ff0000;
}
body .content main section form button {
  margin-top: 10px;
  border-radius: 32px;
  width: 440px;
  height: 48px;
}
body .content main section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
body .content main section .section_3_p {
  color: #696688;
}
body .content main section .section_7_container .section_7_img {
  width: 48px;
  height: 48px;
}
body .content .section_1 {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
body .content .section_1 .section_1_block {
  width: 440px;
}
body .content .section_1 .section_1_block .section_1_p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 19px;
}
body .content .section_1 .section_1_block .section_1_p_1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  color: #050038;
}
body .content .section_1 .section_1_block .section_1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
body .content .section_2 {
  display: flex;
  margin-top: 128px;
}
body .content .section_2 .section_2_block {
  align-self: center;
  width: 454px;
}
body .content .section_2 .section_2_block .section_2_p {
  color: #696688;
  margin: 19px 0 39px 0;
}
body .content .section_2 img {
  margin-left: 116px;
}
body .content .section_3 {
  display: flex;
  align-items: center;
}
body .content .section_3 .section_3_block {
  margin-left: 115px;
  width: 432px;
}
body .content .section_3 .section_3_block .section_3_p {
  margin: 19px 0 39px 0;
}
body .content .section_5 .section_5_ul .section_5_li::before {
  content: url("../images/Frame.png");
}
body .content .section_6 {
  background-color: #ffd02f;
}
body .content .section_8 {
  background-color: #050038;
  color: #fff;
}
body .content .section_8 .section_8_container h2 {
  color: #fff;
}
body .content .section_8 .section_8_container p {
  color: #696688;
}
body .content .section_8 .section_8_container a {
  color: #696688;
  text-decoration: underline;
}
body .content .section_8 .section_8_container a:hover {
  color: #fff;
  text-decoration: none;
}
body .content footer {
  padding: 0 40px;
  background-color: #050038;
  color: #fff;
}
body .content footer a {
  color: #fff;
  text-decoration: none;
}
body .content footer a:hover {
  color: #696688;
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */