:root {
  --button-color: #4682b4;
  --button-hover-color: #376388;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono";
}
body .content {
  max-width: 1200px;
  margin: 0 auto;
}
body .content button {
  background-color: var(--button-color);
  transition: 0.5s;
  font-size: 16px;
  border: none;
  color: #fff;
}
body .content button:hover {
  background-color: var(--button-hover-color);
}
body .content header {
  height: 90px;
  padding: 0 20px;
  align-content: center;
}
body .content header nav {
  display: flex;
  justify-content: space-between;
}
body .content header nav .nav_top {
  display: flex;
  align-items: center;
}
body .content header nav .nav_block_1 {
  display: flex;
  align-items: center;
}
body .content header nav .nav_block_1 ul {
  display: flex;
  list-style: none;
}
body .content header nav .nav_block_1 ul li {
  margin-left: 34px;
}
body .content header nav .nav_block_1 ul li:first-child {
  margin-left: 24px;
}
body .content header nav .nav_block_1 ul li a {
  display: flex;
  font-size: clamp(14px, 1.6vw, 16px);
  color: #696688;
  text-decoration: none;
}
body .content header nav .nav_block_1 ul li a:hover {
  text-decoration: underline;
}
body .content header nav .nav_block_2 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 10px;
}
body .content header nav .nav_block_2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
body .content header nav .nav_block_2 a:hover {
  text-decoration: underline;
}
body .content header nav .nav_block_2 a img {
  margin-right: 10px;
}
body .content header nav .nav_block_2 button {
  width: 157px;
  height: 50px;
  border-radius: 24px;
}
body .content main section {
  display: flex;
  gap: 40px;
  padding: 80px 40px;
}
body .content main section a {
  color: var(--button-color);
  text-decoration: none;
}
body .content main section a:hover {
  text-decoration: underline;
}
body .content main section h1,
body .content main section h2 {
  font-size: 48px;
  font-weight: 400;
  color: #050038;
}
body .content main section p {
  font-size: 18px;
  color: #696688;
}
body .content main section form {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
body .content main section form input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: #050038;
  padding: 0 20px;
  border-radius: 32px;
  height: 48px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
body .content main section form input:invalid {
  border-color: #ff0000;
}
body .content main section form button {
  margin-top: 10px;
  border-radius: 32px;
  height: 48px;
}
body .content main section img {
  -o-object-fit: contain;
     object-fit: contain;
}
body .content .section_1 .section_1_block {
  width: 100%;
}
body .content .section_1 .section_1_block .section_1_p {
  margin-top: 19px;
}
body .content .section_1 .section_1_block .section_1_p_1 {
  font-size: 14px;
  margin-top: 20px;
}
body .content .section_1 .section_1_block .section_1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
body .content .section_1 .section_1_block .section_1_container .section_1_container_p {
  color: #5f5f5f;
}
body .content .section_1 .section_1_block .section_1_container .section_1_container_p data {
  color: #5f5f5f;
}
body .content .section_1 .section_1_block .section_1_container a img {
  width: auto;
  height: auto;
}
body .content .section_1 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  height: auto;
  max-width: 100%;
  display: block;
}
body .content .section_2 .section_2_block {
  width: 100%;
  align-self: center;
}
body .content .section_2 .section_2_block .section_2_p {
  margin: 19px 0 39px 0;
}
body .content .section_2 img {
  width: 50%;
  height: auto;
  max-width: 100%;
  display: block;
}
body .content .section_3 {
  align-items: center;
}
body .content .section_3 img {
  width: 50%;
  height: auto;
  max-width: 100%;
  display: block;
}
body .content .section_3 .section_3_block {
  width: 440px;
}
body .content .section_3 .section_3_block .section_3_p {
  margin: 19px 0 39px 0;
}
body .content .section_4 {
  display: flex;
  flex-direction: column;
}
body .content .section_4 .section_4_ul {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
body .content .section_4 .section_4_ul li {
  list-style: none;
  margin-right: 10px;
}
body .content .section_4 .section_4_ul li:last-child {
  margin-right: 0;
}
body .content .section_4 .section_4_ul li .section_4_a {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  padding: 0 18px;
  height: 48px;
  color: #050038;
}
body .content .section_4 .section_4_ul li .section_4_a:first-child {
  margin-left: 0;
}
body .content .section_4 .section_4_ul li .section_4_a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}
body .content .section_4 .section_4_block {
  display: flex;
  margin-top: 40px;
}
body .content .section_4 .section_4_block .section_4_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body .content .section_4 .section_4_block .section_4_item h3 {
  font-size: 42px;
  font-weight: normal;
  color: #050038;
}
body .content .section_4 .section_4_block .section_4_item p {
  margin: 25px 0 32px 0;
  font-size: 16px;
}
body .content .section_4 .section_4_block img {
  width: 50%;
  height: auto;
  max-width: 100%;
  display: flex;
}
body .content .section_5 {
  display: flex;
  flex-direction: column;
}
body .content .section_5 .section_5_ul1 {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
body .content .section_5 .section_5_ul1 .section_5_li1 {
  list-style: none;
}
body .content .section_5 .section_5_ul1 .section_5_li1 .section_5_a {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  padding: 0 18px;
  height: 48px;
  margin-left: 8px;
  color: #050038;
}
body .content .section_5 .section_5_ul1 .section_5_li1 .section_5_a:first-child {
  margin-left: 0;
}
body .content .section_5 .section_5_ul1 .section_5_li1 .section_5_a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}
body .content .section_5 .section_5_block {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
body .content .section_5 .section_5_block .section_5_item .section_5_wrapper {
  display: flex;
}
body .content .section_5 .section_5_block .section_5_item .section_5_wrapper img {
  width: auto;
  height: auto;
}
body .content .section_5 .section_5_block .section_5_item .section_5_ul2 {
  margin-top: 30px;
}
body .content .section_5 .section_5_block .section_5_item .section_5_ul2 .section_5_li2 {
  display: flex;
  margin-bottom: 18px;
  font-size: 18px;
  color: rgba(5, 0, 56, 0.6);
}
body .content .section_5 .section_5_block .section_5_item .section_5_ul2 .section_5_li2:last-child {
  margin-bottom: 32px;
}
body .content .section_5 .section_5_block .section_5_item .section_5_ul2 .section_5_li2::before {
  margin-right: 14px;
  content: url("../images/Frame.png");
}
body .content .section_5 .section_5_block .section_5_item .section_5_p {
  margin: 70px 0 13px;
  color: rgba(5, 0, 56, 0.6);
}
body .content .section_5 .section_5_block .section_5_item .section_5_a1 {
  margin-left: 10px;
  text-decoration: none;
}
body .content .section_5 .section_5_block .section_5_item .section_5_a1:first-child {
  margin-left: 0;
}
body .content .section_5 .section_5_block img {
  width: 50%;
  height: auto;
  max-width: 100%;
  display: flex;
}
body .content .section_6 {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  row-gap: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 100px 40px;
  background: #ffd02f;
}
body .content .section_6 .section_6_header {
  grid-column: 1/4;
}
body .content .section_6 .section_6_header h2 {
  font-size: 48px;
  width: 550px;
}
body .content .section_6 .section_6_header a {
  display: block;
  margin-top: 20px;
  color: #050038;
}
body .content .section_6 .section_6_item img {
  margin-bottom: 25px;
}
body .content .section_6 .section_6_item p {
  color: #050038;
}
body .content .section_7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 90px 50px;
}
body .content .section_7 .section_7_header {
  display: flex;
  grid-column: 1/4;
  align-items: center;
  flex-direction: column;
}
body .content .section_7 .section_7_header a {
  width: 264px;
  height: 46px;
  text-align: center;
  align-content: center;
  margin-top: 70px;
  border: 1px solid;
  border-radius: 24px;
  font-size: 18px;
}
body .content .section_7 .section_7_header a:hover {
  background-color: var(--button-hover-color);
  color: white;
  text-decoration: none;
}
body .content .section_7 .section_7_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
body .content .section_7 .section_7_container p {
  font-size: 18px;
  color: rgba(5, 0, 56, 0.6);
}
body .content .section_7 .section_7_container .section_7_container_header p {
  margin-top: 23px;
}
body .content .section_7 .section_7_container .section_7_users {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
body .content .section_7 .section_7_container .section_7_users p {
  margin-left: 20px;
  font-size: 14px;
}
body .content .section_7 .section_7_container .section_7_users p span {
  color: #5f5f5f;
  text-decoration: underline;
}
body .section_8 {
  display: flex;
  justify-content: center;
  background-color: #050038;
  margin: 120px 40px;
  border-radius: 16px;
}
body .section_8 .section_8_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
}
body .section_8 .section_8_container .section_8_h2 {
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
}
body .section_8 .section_8_container p {
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1px;
}
body .section_8 .section_8_container a {
  text-decoration: none;
  margin-top: 40px;
  color: #696688;
  font-size: 14px;
}
body .section_8 .section_8_container a:hover {
  text-decoration: underline;
  color: #ccc;
}
body .section_8 .section_8_container button {
  width: 250px;
  height: 48px;
  border-radius: 32px;
  margin-top: 20px;
}
body footer {
  padding: 40px 40px 20px;
  background-color: #050038;
}
body footer a {
  text-decoration: none;
}
body footer a:hover {
  text-decoration: underline;
}
body footer .footer_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 80px;
}
body footer .footer_container .footer_product {
  display: flex;
  flex-direction: column;
}
body footer .footer_container .footer_product h4 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
}
body footer .footer_container .footer_product a {
  font-size: 16px;
  line-height: 24px;
  color: #696688;
}
body footer .footer_container .footer_product a:hover {
  color: #ccc;
}
body footer hr {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  background: #696688;
}
body footer .footer_socials_policy {
  display: flex;
  margin-top: 40px;
}
body footer .footer_socials_policy a {
  margin-left: 15px;
  color: #696688;
}
body footer .footer_socials_policy a:first-child {
  margin-left: 0;
}
body footer .footer_socials_policy a:hover {
  color: #ccc;
}
body footer .footer_socials_policy .copyright {
  margin-left: 40px;
  color: #fff;
}
body footer .footer_downloads {
  margin-top: 20px;
}
body footer .footer_downloads a {
  text-decoration: none;
  margin-left: 15px;
}
body footer .footer_downloads a:first-child {
  margin-left: 0;
}
@media (max-width: 992px) {
  body .content header {
    max-width: 992px;
    padding: 0 20px;
  }
  body .content header nav .nav_block_1 ul li {
    margin-left: 24px;
  }
  body .content header nav .nav_block_2 a {
    font-size: 14px;
  }
  body .content header nav .nav_block_2 button {
    margin-left: 40px;
    width: 135px;
    height: 45px;
    font-size: 16px;
  }
  body .content main .section_1 {
    display: flex;
  }
  body .content main .section_1 .section_1_block h1 {
    font-size: 32px;
    font-weight: 500;
  }
  body .content main .section_1 .section_1_block p {
    font-size: 16px;
  }
  body .content main .section_1 .section_1_block form {
    margin-top: 30px;
    width: 436px;
  }
  body .content main .section_1 .section_1_block .section_1_container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  }
  body .content main .section_1 .section_1_block .section_1_container p {
    grid-column: 1/5;
  }
  body .content main .section_1 img {
    width: 436px;
    max-width: 100%;
  }
  body .content main .section_2 .section_2_block h2 {
    font-size: 32px;
  }
  body .content main .section_2 .section_2_block .section_2_p {
    font-size: 16px;
  }
  body .content main .section_3 .section_3_block h2 {
    font-size: 32px;
  }
  body .content main .section_3 .section_3_block p {
    font-size: 16px;
  }
  body .content main .section_4 h2 {
    font-size: 32px;
  }
  body .content main .section_4 ul li {
    margin-right: 10px;
  }
  body .content main .section_4 ul li:last-child {
    margin-right: 0;
  }
  body .content main .section_4 ul li a {
    font-size: 14px;
    text-align: center;
  }
  body .content main .section_5 ul li {
    margin-right: 10px;
  }
  body .content main .section_5 ul li:last-child {
    margin-right: 0;
  }
  body .content main .section_5 ul li a {
    font-size: 14px;
    text-align: center;
  }
  body .content main .section_5 .section_5_block .section_5_item .section_5_ul2 .section_5_li2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  body .content main .section_5 .section_5_block .section_5_item .section_5_p {
    font-size: 16px;
  }
  body .content main .section_6 .section_6_header h2 {
    font-size: 46px;
  }
  body .content main .section_6 .section_6_item p {
    font-size: 16px;
  }
  body .content main .section_7 {
    gap: 50px 18px;
  }
  body .content main .section_7 h2 {
    font-size: 46px;
  }
  body .content main .section_7 p {
    font-size: 16px;
    text-align: justify;
  }
  body .content main .section_7 .section_7_container .section_7_container_header p {
    font-size: 16px;
  }
  body .content main .section_7 .section_7_container .section_7_users p {
    font-size: 12px;
  }
  body .content footer .footer_container .footer_product h4 {
    font-size: 22px;
  }
  body .content footer .footer_container .footer_product a {
    font-size: 14px;
  }
  body .content footer .footer_socials_policy a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body .content header {
    max-width: 768px;
    padding: 0 20px;
  }
  body .content header nav .nav_block_2 {
    gap: 20px;
  }
  body .content header nav .nav_block_2 a {
    font-size: 16px;
  }
  body .content header nav .nav_block_2 a img {
    display: none;
  }
  body .content header nav .nav_block_2 button {
    margin-left: 0px;
    width: 121px;
    height: 37px;
    font-size: 12px;
  }
  body .content main .section_1 .section_1_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .content main .section_1 .section_1_block .section_1_p {
    text-align: center;
  }
  body .content main .section_1 img {
    display: none;
  }
  body .content main .section_4 h2 {
    text-align: center;
  }
  body .content main .section_4 .section_4_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 100%;
  }
  body .content main .section_5 .section_5_ul1 {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 100%;
  }
  body .content main .section_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .content main .section_7 .section_7_header h2 {
    font-size: 36px;
    text-align: center;
  }
  body .content main .section_8 .section_8_h2 {
    font-size: 42px;
  }
  body .content footer .footer_container .footer_product a {
    line-height: 20px;
  }
}
body .content header nav .nav_top {
  width: 100%;
  justify-content: space-between;
}
body .content header nav .nav_top .burger {
  background-color: #fff;
}
body .content header nav .nav_top .burger span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3px;
  width: 40px;
  border-radius: 2px;
  background: black;
  margin-top: 5px;
}
body .content header nav .nav_top .burger span:first-child {
  margin-top: 0;
}
body .content header nav .nav_block_1 {
  display: none;
}
body .content header nav .nav_block_2 {
  display: none;
}/*# sourceMappingURL=styles.css.map */