// Универсальный селектор
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: normal;
  border: none;
  outline: none;
  list-style: none;
  object-fit: contain;
  font-weight: 400;
}
body {
  // Контент
  .content {
    max-width: 1200px;
    margin: 0 auto;
    // box-shadow: 10px 0 30px rgba(0, 0, 0, 0.05), -10px 0 30px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    button {
      background-color: #4262ff;
      color: #fff;
      font-size: 16px;
      &:hover {
        background-color: #3753df;
      }
      &:active {
        background-color: #2e45b8;
      }
    }
    // Навигация
    header {
      border-bottom: 1px solid #e6e6e67a;
      height: 90px;
      padding: 0 20px;
      nav {
        display: flex;
        justify-content: space-between;
        height: 90px;
        .nav_block_1 {
          display: flex;
          align-items: center;
          ul {
            display: flex;
            li {
              margin-left: 34px;
              &:first-child {
                margin-left: 24px;
              }
              a {
                display: flex;
                font-size: 16px;
                color: #696688;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .nav_block_2 {
          display: flex;
          align-items: center;
          button {
            width: 157px;
            height: 50px;
            margin-left: 88px;
            border-radius: 24px;
          }
        }
      }
    }
    // Главное
    main {
      section {
        padding: 150px 40px;
        a {
          color: #4262ff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        h1,
        h2 {
          font-size: 48px;
          color: #050038;
        }
        form {
          display: flex;
          flex-direction: column;
          margin-top: 55px;
          input {
            font-size: 24px;
            font-weight: 100;
            color: #5f5f5f;
            padding: 0 20px;
            border-radius: 32px;
            width: 440px;
            height: 48px;
            border: 1px solid #ccc;
            transition: border-color 0.3s ease;
            &:invalid {
              border-color: #ff0000;
            }
          }
          button {
            margin-top: 10px;
            border-radius: 32px;
            width: 440px;
            height: 48px;
          }
        }
        p {
          font-size: 18px;
        }
        .section_3_p {
          color: #696688;
        }
      }
    }
    // 1 секция
    .section_1 {
      display: flex;
      justify-content: space-between;
      .section_1_block {
        width: 440px;
        .section_1_p {
          font-size: 18px;
          margin-top: 19px;
        }
        .section_1_p_1 {
          font-size: 14px;
          margin-top: 8px;
          color: #050038;
        }
        .section_1_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 52px;
        }
      }
    }
    // 2 секция
    .section_2 {
      display: flex;
      justify-content: space-between;
      .section_2_block {
        align-self: center;
        width: 440px;
        .section_2_p {
          color: #696688;
          margin: 19px 0 39px 0;
        }
      }
      img {
        margin-left: 116px;
      }
    }
    // 3 секция
    .section_3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section_3_block {
        margin-left: 115px;
        width: 440px;
        .section_3_p {
          margin: 19px 0 39px 0;
        }
      }
    }
    // 4 секция
    .section_4 {
      display: flex;
      flex-direction: column;
      .section_4_ul {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        li {
          .section_4_a {
            display: flex;
            align-items: center;
            border: 1px solid #f2f2f2;
            border-radius: 24px;
            padding: 0 18px;
            height: 48px;
            color: #050038;
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              background-color: #f2f2f2;
              text-decoration: none;
            }
          }
        }
      }
      .section_4_block {
        display: flex;
        margin-top: 40px;
        .section_4_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          h3 {
            font-size: 18px;
          }
          p {
            margin: 25px 0 32px 0;
            font-size: 16px;
          }
        }
      }
    }
    // 5 секция
    .section_5 {
      display: flex;
      flex-direction: column;
      .section_5_ul1 {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        .section_5_li1 {
          .section_5_a {
            display: flex;
            align-items: center;
            border: 1px solid #f2f2f2;
            border-radius: 24px;
            padding: 0 18px;
            height: 48px;
            margin-left: 8px;
            color: #050038;
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              background-color: #f2f2f2;
              text-decoration: none;
            }
          }
        }
      }
      .section_5_block {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .section_5_item {
          display: flex;
          flex-direction: column;
          width: 300px;
          .section_5_ul2 {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            .section_5_li2 {
              display: flex;
              margin-bottom: 18px;
              font-size: 18px;
              color: #05003899;
              &:last-child {
                margin-bottom: 32px;
              }
              &::before {
                margin-right: 14px;
                content: url("../images/Frame.png");
              }
            }
          }
          .section_5_p {
            margin: 70px 0 13px;
            color: #05003899;
          }
          .section_5_a1 {
            margin-left: 10px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
    // 6 секция
    .section_6 {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      text-align: center;
      row-gap: 100px;
      column-gap: 40px;
      padding: 100px 40px;
      background: #ffd02f;
      .section_6_header {
        grid-column: 1 / 4;
        h2 {
          font-size: 48px;
          width: 525px;
        }
        a {
          display: block;
          margin-top: 20px;
          color: #050038;
          &:hover {
            color: #050038b2;
          }
        }
      }
      .section_6_item {
        img {
          margin-bottom: 25px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    // 7 Секция
    .section_7 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 90px 50px;
      .sention_7_header {
        display: flex;
        grid-column: 1 / 4;
        align-items: center;
        flex-direction: column;
        a {
          width: 264px;
          height: 46px;
          text-align: center;
          align-content: center;
          margin-top: 27px;
          border: 1px solid;
          border-radius: 24px;
          font-size: 18px;
        }
      }
      .section_7_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 77px;
        p {
          font-size: 18px;
          color: #05003899;
        }
        .section_7_container_header {
          p {
            margin-top: 23px;
          }
        }
        .section_7_users {
          display: flex;
          margin-top: 40px;
          p {
            margin-left: 20px;
          }
        }
      }
    }
    // 8 секция
    .section_8 {
      background-color: #050038;
      color: #fff;
      .section_8_container {
        .section_8_h2 {
          color: #fff;
        }
        p {
          color: #696688;
        }
        a {
          color: #696688;
          text-decoration: underline;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    // Подвал
    footer {
      padding: 150px 40px 20px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #696688;
          text-decoration: underline;
        }
      }
      background-color: #050038;
      color: #fff;
    }
  }
}
